@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&family=Space+Grotesk:wght@300;400;500;600&display=swap');

*{
    font-family: 'Space Grotesk', sans-serif;
    margin: 0;
    padding: 0;
    
}

@media screen and (max-width: 720px) {
    .hey-rhine{
        flex-direction: column;
    }
}

@media screen and (max-width: 720px) {
    .about-rhine{
        text-align: center;
    }
}
.rhine{
    padding: 40px 40px;
    background-color: #1A171E;
    padding-bottom: 100px;
}
.hey-rhine{
    width: 100%;
    min-height: 50vh;
    display: flex;
    align-items: center;
    background-position: center;
}

.img-rhine{
    width: 280px;
    border-radius: 25px;
}
.hey-rhine p{
    color: #d3aaea;
    padding-left: 10px;
    font-size: 40px;
    font-weight: 400;
    margin-top: 15px;
}
.hey-rhine p span{
    font-weight: 500;
}

.about-rhine{
align-items: center;
text-align: center;

}

.about-rhine p{
    color: #fff;
    margin-bottom: 25px;
}
.about-rhine p span{
    font-weight: 600;
    font-family: 'Space Grotesk', sans-serif;
}

.social-icons a{
    border-radius: 6px;
    font-size: 20px;
    color: #d3aaea;
    text-decoration: none;
}
.tele{
    margin-right: 5px;
}

/*=====prt2=====*/

.prt2{
    background-color: #fff;
    margin-top: 50px;
}

.my_ch{
    display: flex;
    justify-content: center;
    color: #3a6cf4;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 2.2em;
    margin-bottom: 30px;
}

.content{
    display: flex;
    justify-content: center;
    flex-direction: row; /*ot column*/
    flex-wrap: wrap;
}

.channl{
    background-color: #ffffff;
    width: 15.25em;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 25%);
    border-radius: 10px;
    padding: 25px;
    margin: 15px;
}

.icon{
    color: #3a6cf4;
    font-size: 45px;
    text-align: center;
}

.info{
    text-align: center;
}

.info h3{
    color: #3a6cf4;
    font-size: 25px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    margin: 10px;
}

.info p{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

a{
    text-decoration: none;
}

.end{
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
    margin-top: 45px;
}

.end p{
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 300;
    font-size: 5px;
    color: #585858;
}