@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}


header {
    background-color: #f0f0f0;
    width: 100%;
    position: fixed;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 200px ;
}

.icon{
    text-decoration: none;
    color: #3a6af4;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.8em;
}

.navigation a{
    text-decoration: none;
    color: #3a6af4;
    font-size: 1.1em;
    font-weight: 500;
    padding-left: 30px;
}

.navigation a:hover{
    color: #601cfc;
}

section {
    padding: 100px;
    text-align: center;
}
.main {
    width: 100%;
    min-height: 100vh;
    background-color: #ffffff;
    
}

.main h2 {
    color: #1f1f1f;
    font-size: 1.4em;
    font-weight: 500;

}

.main h2 span{
    color: #3a6af4;
    font-size: 2.2em;
    font-weight: 600;
    display: inline-block;
    margin-top: 10px;

}

.main h3{
    color: #1f1f1f;
    font-size: 1.5em;
    font-weight: 600;
    letter-spacing: 1px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.btn-tele{
    color: #f0f0f0;
    background-color: #3a6af4;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 600;
    letter-spacing: 1px;
    display: inline-block;
    padding: 0.600em 2.1800em;
    border-radius: 8px;
    margin-bottom: 50px;
    transition: 0.5s ease;
}
.btn-tele:hover{
    background-color: #174ce9;
    transform: scale(1.1);
}

.projects{
    background-color: #161616;
}

.projects .content{
    margin-top: 30px;
}

.project-card{
    background-color: #f0f0f0;
    border: 1px solid #ffffff;
    min-height: 14em;
    width: 23em;
    overflow: hidden;
    border-radius: 10px;
    margin: 5px;
    transition: 0.5s ease;
}
.project-card:hover{
    transform: scale(1.1);
}

.stik-img img{
    width: 100%;
    
}

.title{
    color: #3a6af4;
    font-weight: 700;
    font-size: 1.5em;
}

.projects-info{
    padding: 1em;
}
.title-stik{
    font-size: 0.8em;
    color: #000000;
}
.projects-title{
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    font-weight: 800;
    margin-top: 10px;
}
.link-stik{
    text-decoration: none;
    background-color: #3a6af4;
    color: #ffffff;
    padding: 6px 6px;
    border-radius: 8px;
}
.link-stik:hover{
    background-color: #2558f1;
}
